<tr class="~[evenoddrow]">
~[tlist_sql; select ID, ADMINID from S_VT_DISTRICT_S where rownum =1;nonemessage=<td><A HREF="/admin/districtinfo/state/districtVTNew.html?id=~(id)">Add VT Reporting Configuration</A></td>
]
<td><A HREF="/admin/districtinfo/state/districtVTEdit.html?id=~(id)">Edit VT Reporting Configuration</A></td>
</tr>
[/tlist_sql]
</tr>