<tr class="headerRow">
    <td colspan="2" class="bold">
        VT State Information
    </td>
</tr>
<tr class="~[evenoddrow]">
	<td class="bold"><span title="STARTDATE">Year Start Date for reporting</span></td>
	<td><input type="text" name="[SCHOOLS.S_VT_SCHOOLS_X]STARTDATE" value="" class="psDateWidget" size="10" maxlength="12"></td>
</tr>
<tr class="~[evenoddrow]">
	<td class="bold"><span title="ENDDATE">Year End Date for reporting</span></td>
	<td><input type="text" name="[SCHOOLS.S_VT_SCHOOLS_X]ENDDATE" value="" class="psDateWidget" size="10" maxlength="12"></td>
</tr>			
<tr class="~[evenoddrow]">
	<td class="bold"><span title="ENGORGID">Default Enrollment Org ID for Students in School</span></td>
	<td><input type="text" name="[SCHOOLS.S_VT_SCHOOLS_X]ENRORGID"" value="" size="10" maxlength="6"></td>
</tr>
<tr class="~[evenoddrow]">
	<td class="bold"><span title="POSID">Place of Service ID</span></td>
	<td><input type="text" name="[SCHOOLS.S_VT_SCHOOLS_X]POSID"" value="" size="10" maxlength="6"></td>
</tr>